.NavBar{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 6vh;
}
.logo{
	margin-right: 15px;
	padding: 0 13px;
	font-size: 22px;
	background: #d6d8db;
	height: 100%;
	display: flex;
	align-items: center;
	font-family: 'Segoe UI';
	font-weight: 200;
}

.logo a{
	text-decoration: none;
	color: black;
}
.slider{
	width: 340px;
	margin: 0 10px !important;
	display: inline-block;
}
 .noUi-target {
	height: 10px;
	border: none; 
}
@media screen and (max-width: 767px) {
	.noUi-target {
		margin: 40px 0 50px 0; 
	} 
}
.noUi-target .noUi-base {
	background: linear-gradient(117deg,#c9edf1 0, #ade4ea 25%, #76ced7 50%, #56afb8 75%, #34919a 100%);
	border: none;
	border-radius: 15px; 
	cursor: pointer;
}
.noUi-connect{
	background: none;
}
.noUi-handle.noUi-handle-lower {
	background: #34919a;
	border-radius: 20px;
	width: 25px;
	height: 25px;
	outline: none;
	right: 0px;
	top: -8px;
	cursor: pointer; 
	box-shadow: none;
	border: 3px solid #ffffff;
	-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
.noUi-handle.noUi-handle-lower.noUi-active{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
.noUi-handle.noUi-handle-lower::before, .noUi-handle.noUi-handle-lower::after {
	display: none; 
}

.select-container{
	margin-left: auto;
	margin-right: 1rem;
}

.MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom: 2px solid #34919a !important;
}