.Pokecard{
	text-align: center;
	width: 250px;
	padding: 10px;
	margin: 1rem;
	box-shadow: 7px 10px 12px -5px rgb(0,0,0,.56);
	border-radius: 4%;
	border: 14px solid #BFDCEA;
	background-color: #F5F3F2;
}

.Pokecard-image{
	background-image: linear-gradient(#B9DDE3, #E9C6C8, #E7D1C4);
	border-radius: 2%;
	
}

.Pokecard img{
	transition: all ease 500ms;
}

.Pokecard img:hover{
	transform: scale(1.2);
	opacity: 0.8;
}

h3{
	text-transform: uppercase;
	color: #3FB3F0 ;
}

h4{
	text-transform: uppercase;
	color: #58585A ;
}

.Pokecard-val{
	color: #F87D42;
	text-transform: capitalize;
}